@tailwind base;
@tailwind components;
@tailwind utilities;


header{
    padding:0!important;
}

input {
    outline: none;
    border: none;
}

.neon-text-3d {
    font-weight: 700;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: soft-flicker 3s infinite alternate;
}

/* انیمیشن چشمک زدن ملایم */
@keyframes soft-flicker {

    0%,
    100% {
        opacity: 1;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 8px #1ac0ff;
    }

    50% {
        opacity: 0.9;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 4px #1ac0ff;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span:nth-child(1) {
    border-radius: 50vmin;
    position: absolute;
    background: #087bff42;
    top: 2%;
    left: -8%;
    width: 90%;
    height: 50%;
    filter: blur(75px);
    transform: rotateZ(15deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px); 
    -o-filter: blur(75px); 
}

.background span:nth-child(2) {
    border-radius: 50vmin;
    position: absolute;
    background: #a908ff49;
    top: 0%;
    right: -15%;
    width: 80%;
    height: 45%;
    filter: blur(75px);
    transform: rotateZ(40deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px); 
    -o-filter: blur(75px); 
}


::-webkit-scrollbar {
    /* width: 10px; */
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00b3ff;
    border: 0px none #ffffff00;
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #00b3ff;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #00b3ff;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff00;;
    border: 0px none #ffffff00;;
    border-radius: 16px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff00;;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff00;;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  
  #body[data-scroll-locked] {
      margin:0 !important;
  }
  
  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      display: none;
  }