@tailwind base;
@tailwind components;
@tailwind utilities;



input {
    outline: none;
}

.neon-text-3d {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: soft-flicker 3s infinite alternate;
}


@keyframes soft-flicker {

    0%,
    100% {
        opacity: 1;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 8px #1ac0ff;
    }

    50% {
        opacity: 0.9;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 4px #1ac0ff;
    }
}


.neon-text-3d-light {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7), -1px -1px 2px rgba(255, 255, 255, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.9);
    animation: soft-flicker-light 3s infinite alternate;
}

@keyframes soft-flicker-light {

    0%,
    100% {
        opacity: 1;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7), -1px -1px 2px rgba(255, 255, 255, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.9), 0 0 8px #1ac0ff;
    }

    50% {
        opacity: 0.9;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7), -1px -1px 2px rgba(255, 255, 255, 0.7), 2px 2px 5px rgba(255, 255, 255, 0.9), 0 0 4px #1ac0ff;
    }
}








.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;

}

/* .background span:nth-child(1) {
    border-radius: 50vmin;
    position: absolute;
    background: #087bff42;
    top: 2%;
    left: -8%;
    width: 90%;
    height: 50%;
    filter: blur(75px);
    transform: rotateZ(15deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px);
    -o-filter: blur(75px);
}

.background span:nth-child(2) {
    border-radius: 50vmin;
    position: absolute;
    background: #a908ff49;
    top: 0%;
    right: -15%;
    width: 80%;
    height: 45%;
    filter: blur(75px);
    transform: rotateZ(40deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px);
    -o-filter: blur(75px);
} */


.background span:nth-child(1) {
    border-radius: 50vmin;
    position: absolute;
    top: -2%;
    left: -10%;
    width: 50%;
    height: 60%;
    filter: blur(75px);
    transform: rotateZ(15deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px);
    -o-filter: blur(75px);
}

.background span:nth-child(2) {
    position: absolute;
    border-radius: 100%;
    bottom: 0%;
    right: -15%;
    width: 60%;
    height: 55%;
    filter: blur(75px);
    transform: rotateZ(40deg);
    -webkit-filter: blur(75px);
    -moz-filter: blur(75px);
    -o-filter: blur(75px);
}


::-webkit-scrollbar {
    /* width: 10px; */
    width: 7px;
    height: 6px;
}

.scroll-10::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #00b3ff;
    border: 0px none #ffffff00;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00b3ff;
}

::-webkit-scrollbar-thumb:active {
    background: #00b3ff;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    ;
    border: 0px none #ffffff00;
    ;
    border-radius: 16px;
}

::-webkit-scrollbar-track:hover {
    background: #ffffff00;
    ;
}

::-webkit-scrollbar-track:active {
    background: #ffffff00;
    ;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


#body[data-scroll-locked] {
    margin: 0 !important;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}





@layer components {
    .input {
        @apply bg-[] dark:bg-[#27272A] outline-none border-[2px] border-[#00000019] rounded-[0.4375rem] transition-all duration-300 py-[0.75rem] px-[0.9375rem] text-[0.875rem] focus:border-primary placeholder:text-[#BCBCBC] placeholder:font-semibold placeholder:text-[0.75rem]
    }

    .input-error {
        @apply bg-[] dark:bg-[#27272A] outline-none border-[2px] border-danger rounded-[0.4375rem] transition-all duration-300 py-[0.75rem] px-[0.9375rem] text-[0.875rem] placeholder:text-[#BCBCBC] placeholder:font-semibold placeholder:text-[0.75rem]
    }
}


.random-hash {

    /* رنگ خیلی کم‌رنگ */
    position: absolute;
    animation: moveHash 30s infinite alternate ease-in-out;
}

/* انیمیشن برای حرکت به صورت تصادفی */
@keyframes moveHash {
    0% {
        transform: translate(0, 0);
    }

    12% {
        transform: translate(90%, 77%);
    }

    25% {
        transform: translate(50%, -40%);
    }

    35% {
        transform: translate(10%, 40%);
    }


    50% {
        transform: translate(-30%, 20%);
    }

    60% {
        transform: translate(30%, -20%);
    }

    75% {
        transform: translate(20%, 40%);
    }

    75% {
        transform: translate(-90%, -40%);
    }

    100% {
        transform: translate(-50%, -20%);
    }
}
 

.plyr__controls .plyr__controls__item.plyr__progress__container {
    position: absolute;
    bottom: 48px;
    left: 13px;
    right: 80px;
}

 
.plyr__controls .plyr__controls__item.plyr__time {
    position: absolute;
    bottom: 44px;
    right: 15px;
}

@media (max-width:568px){
    .plyr__controls .plyr__controls__item.plyr__progress__container {
        position: absolute;
        bottom: 38px;
        left: 10px;
        right: 75px;
    }
    .plyr__controls .plyr__controls__item.plyr__time {
        position: absolute;
        bottom: 35px;
        right: 12px;
    }  
}

.plyr__controls button:nth-child(4) {
    margin-inline-end: auto;
}

 